<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>Campus</string>
		<key>routes</key>
		<array>
			<integer>55</integer>
			<integer>57</integer>
			<integer>51</integer>
			<integer>53</integer>
		</array>
	</dict>
</array>
</plist>
